@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #EEEEECE3;
  --accent: #FFFFFF0D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--main);
}

body, #root {
  width: 100vw;
  height: 100vh;
  background: white;
  overflow: hidden;
}

#root {
  padding: 10px;
}

a, p, span, footer, button {
  position: relative;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
}

p {
  text-align: justify;
}

ul, ol {
  list-style: none;
  list-style-type: none;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  transition: background 0.2s;
}

::-webkit-scrollbar-track:hover {
  background: var(--accent);
}

::-webkit-scrollbar-thumb {
  border-radius: 1.5px;
  background: var(--main);
}

.section {
  display: grid;
  padding: 100px;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
}

.code {
  background: linear-gradient(to right, #24292E, #24292E00);
}
