@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply tracking-wider;
	box-sizing: border-box;
	font-family: "Open Sans", "Montserrat", Helvetica, Arial, sans-serif;
	margin: 0;
	scrollbar-width: none;
}

body {
	@apply bg-white text-black;
	@apply flex items-center justify-center;
}

main {
	height: 2000px;
	padding: 0px 50px;
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

ul li {
	width: 100%;
	padding: 7px 10px;
	border-radius: 3px;
}

svg {
	display: inline-block;
	height: 50px;
	width: 50px;
}

::-webkit-scrollbar {
	display: none;
}